body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.user-image {
  min-width: 100px;
  min-height: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.like-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.rating {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.friend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friends-wrapper {
  display: flex;
  margin: 5%;
  justify-content: center;
  align-items: center;
}

/* normalize & fonts */

/* normalize & fonts*/

/* blocks */

/* blocks */

/* elements */

/* elements */

/* modifiers */

/* modifiers */
